nav, ul , li a {
    text-decoration: none;
}
nav,li {
    list-style: none;
    align-items: center;
}
nav, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
ul {
    gap: 20px;
}
button {
    padding: 6px 12px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-radius: 4px;
    width: 150px;
    height: 64px;
}
.button {
    padding: 6px 12px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-radius: 4px;
    width: 150px;
    height: 64px;}

.color {
    color: #474747;
    font-size: 20px;
}
.colorfull {
    font-size: 45px;
    margin-left: 150px;
}
.maruf {
    color: #FD6E0A;
}
.hirme {
    font-size: 20px;
}
.first {
    font-size: 45px;
    width: 177px;
    height: 62px;
    color: #474747;
}
.second{
    font-size: 85px;
    color: #181818;
    width: 498px;
    height: 116px;
}
.third {
    font-size: 18px;
    color: #757575;
    width: 585px;
    height: 60px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0 150px;
}
.addingpic {
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
}
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #000000;
}
.section-description {
    font-size: 18px;
    color: #757575;
}
.secondary-bg {
    background-color: #FFF8F3;
}
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
main {
    max-width: 1140px;
    margin: 0 auto;
}
.item-description {
    font-weight: bold;
}
.about-items {
    display: flex;
    justify-content: space-around;
}
.text-center {
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skills {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
.resume-container {
    display: flex;
    gap: 24px;
}
.experience-description {
    color: #757575;
}
.experience-sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.resume hr {
    margin: 30px;
}
.resume-download-cv {
    margin-top: 50px;
}
footer {
    display: flex;       
    gap: 50px;           
    padding: 50px 100px;
}

.footer-column {
    width: 50%; 
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}